@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');



/*BODY*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*GENERAL*/
li a {
    color: #333333;
    text-decoration: none;
}

li a:visited {
    color:black;
}

ul {
  list-style: none;
}

button {
  background-color: #f4ce14;
  border: none;
  color: #333333;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
}

.button {
  background-color: #f4ce14;
  border: none;
  color: #333333;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
}

h1 {
  font-family: 'Markazi Text';
  font-size: 64px;
  margin: 0;
  font-weight: 500;
  color: #f4ce14;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 40px;
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-family: 'Markazi Text';
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin: 0;
}

select, input {
  font-family: 'Karla', sans-serif;
}



/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;
  padding-right: 300px;
  padding-left: 300px;
}

@media (max-width: 640px) {
  header nav ul {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

header ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-weight: 600;
}

header img {
  border-color: black;
}



/*MAIN*/

main {
  margin-top: 40px;
}

/*section one*/
.reserve-a-table {
  background-color: #495E57;
  color: #edeffe;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 330px;
  padding-right: 300px;
  padding-left: 300px;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.reserve-a-table article:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 150px;
}

.reserve-a-table article p {
  line-height: 1.5;
}

.restaurant-food img{
  width: 350px;
  height: auto;
  margin-top: 60px;
  border-radius: 15px;
  margin-bottom: -60px;
}

/*section two*/
.specials {
  margin-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

.specials > article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 264px;
  max-width: 264px;
  background-color: #edeffe;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu-card > img {
  width: 264px;
  height: 185px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.delivery-icon {
  width: 16px;
  height: 10px;
  filter: grayscale(100%);
  margin-right: 80px;
}

.menu-card-content {
  margin: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  color: #EE9972;
}

.order {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

/*section three*/
.testimonials {
  background-color: #495E57;
  margin-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.testimonials > div {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.profile-picture {
  width: 47px;
  height: auto;
  padding-right: 10px;
}

.star {
  width: 12px;
  height: auto;
}

.testinmonial {
  background-color: #edeffe;
  padding: 20px;
  margin-top: 40px;
  width: 150px;
  height: 150px;
}

.testinmonial div {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

/*section four*/
.founders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 300px;
  padding-left: 300px;
  margin-top: 100px;
  gap: 50px;
}

.founders > article {
  width: 50%;
}

.founders img {
  width: 272px;
  height: 338px;
  border: 2px solid black;
}

.brothers-images {
  position: relative;
  max-width: 542px;
}

.brothers-images img:last-child {
  position: absolute;
  top: -30px;
  right: -15px;
  z-index: 10;
}



/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 100px;
  padding-right: 300px;
  padding-left: 300px;
}

footer img {
    width: 80px;
    height: auto;
    padding-top: 12px;
}

footer > div > ul > li:first-child {
  color: #495E57;
}

footer > div {
  flex: 1;
}



/*BOOKING*/
.booking-form{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 300px;
  padding-left: 300px;
}

.confirmed-booking{
  padding-right: 300px;
  padding-left: 300px;
}